@use "./variables";
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$primary-color;
}